*{
	list-style: none;
}

body {
	background: #f4f2ec url(../imagens/fundo.png) repeat-x;
	font: 12px "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}

#container {
	width: 1240px;
	margin: 0 auto;
}

a:link,
a:active,
a:visited {
	color: #af670a;
	text-decoration: none;
}

a:hover {
	color: #227115;
}

/* Logo */
#logo h1 {
	float: left;
}

#logo a {
	width: 248px;
	height: 21px;
	text-indent: -9999px;
	display: block;
	background: url(../imagens/logo.png);
}

/*Barra navegação*/
header {
	padding: 15px 0;
	height: 15px;

}

nav ul {
	list-style: none;
	margin: 20px;
	float: right;

}

nav ul li {
	float: left;
}

nav ul li a:link {
	display: block;
	margin-right: 25px;
	padding-bottom: 3px;
	text-transform: uppercase;
}

nav ul li a:hover {
	border-bottom: 1px solid #535858;
}

.limpar {
	clear: both;
	margin: 35px 0;
}

/* Principal 
--------------------------------------------*/
#capa{
	margin-top: 105px;
	border: 1px solid black;
	float: left;
}

#conteudo {
	width: 710px;
	float: left;
	margin-bottom: 20px;

}

aside {
	width: 350px;
	float: right;
	background: #ebe7dd;
	padding-bottom: 30px;
	margin-bottom: 20px;
}

section#visita {
	background: #cdc8b1;
	padding: 10px 27px 27px 27px;
	margin-top: 10px;
}

section#galeria {
	padding: 0 27px 0 27px;

}

section#galeria a {
	display: block;
	background: url(../imagens/fundo-foto.png) no-repeat;
	float: left;
	padding: 17px 15px 17px 17px;

	margin: 10px 0 0 20px;

}

section#galeria img {
	margin-left: 2px;
	margin-top: 3px;
}

#visita fieldset {
	display: flex;
	justify-content: center;
	align-items: center;
}

article#video {
	float: left;
	width: 310px;
	margin-left: 25px;

}

article#mapa {
	float: left;
	width: 310px;
	margin-left: 37px;
}

article#exposicoes {
	float: left;
	width: 310px;
	margin: 15px 0 0 25px;
}

article#historia {
	float: left;
	width: 310px;
	margin: 15px 0 0 37px;
}

#contato{
	float: right;
	margin-top: 70px;
	border: 2px groove lightblue;
	text-justify: center;
	text-align: left;
}

.mapa-contato{
	text-align: left;
	float: right;
	width: 389px;
	border: 2px groove lightblue;
}

h1 {
	text-align: center;
	color: white;
	text-decoration: underline;
	font-size: 3em;
	margin-bottom: 15px;
}

h2{
	text-align: center;

}

h4 {
	color: #86521a;
	text-transform: uppercase;
	padding-bottom: 3px;
	margin-bottom: 0;
}

h3 {
	color: #111;
	font-size: 1.0em;
	margin-bottom: 15px;
	text-transform: uppercase;
}

/* Pagina fotos*/

.conteudo {
	color: darksalmon;
	background-color: lightgray;
	text-align: center;
	padding: 50px 80px;
	font-size: 25px;
	border: 8px groove lightgray;
}

.campo1,
.campo2,
.campo3,
.campo4 {
	min-height: 450px;
	position: relative;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.campo1 {
	background-image: url(../imagens/museu-louvre.jpg);
}

.campo2 {
	background-image: url(../imagens/museu-ipiranga.jpg);
}

.campo3 {
	background-image: url(../imagens/museu-nacional.jpg);
}

.campo4 {
	background-image: url(../imagens/museu3.jpg);
}

.conteudo-titulo {
	position: absolute;
	left: 0;
	top: 45%;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	background-color: #111;
	opacity: 0.5;
}

.conteudo-titulo span.titulo {

	font-size: 25px;
	padding: 18px;
	letter-spacing: 5px;
	color: #fff;
	opacity: 1;

}


/*Rodapé
-------------------------*/

footer {
	clear: both;
	padding: 20px 0 30px 0;
	text-align: center;
	background: url(../imagens/fundo-rodape.png) no-repeat center top;
	margin-top: 20px;
}


footer>p a {
	padding: 2px 10px;

}

/* Formulários
---------------------------------*/
input {
	height: 20px;
	width: 70px;
	background: #fff;
	border: none;
	font-size: 1em;
	margin-left: 5px;
}

input.campo {
	border: 1px solid #ada484;
}

input.botao {
	background: #9b9271;
	color: white;
	width: 100%;
	height: 40px;
	font-size: 1.2em;

}


fieldset {
	border: none;

}

legend {
	display: none;
}